# [10 Minutes to pandas — pandas 0.23.3 documentation](https://pandas.pydata.org/pandas-docs/stable/10min.html)

# Object Creation
# Viewing Data
1조: 처음~22번

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [ ]:
df2 = pd.DataFrame({'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })

**Viewing Data 데이터 확인하기**

In [ ]:
데이터프레임의 맨 윗 줄과 마지막 줄을 확인하고 싶을 때 .head()와 .tail()을 입력합니다. 

괄호()안에는 숫자가 들어갈 수도 있고 안 들어갈 수도 있습니다. 
숫자가 들어간다면, 윗/마지막 줄의 특정 줄을 불러올 수 있습니다. 
숫자가 들어가지 않다면, 기본값인 5로 처리됩니다.

(예시) 
df.tail(3) - 끝에서 마지막 3줄을 불러옴
df.tail() - 끝에서 마지막 5줄 불러옴

In [10]:
df.head()

                   A         B         C         D
2013-01-01 -0.527986  1.901471 -1.128302 -1.216338
2013-01-02  0.724692  0.611865  0.075657 -0.535417
2013-01-03  0.424716  1.335635  0.479678 -0.596492
2013-01-04 -1.186081 -1.060936 -0.824235 -1.408271
2013-01-05 -0.614861  0.020317 -1.184843 -0.273189

In [9]:
df.tail(3)

                   A         B         C         D
2013-01-04 -1.186081 -1.060936 -0.824235 -1.408271
2013-01-05 -0.614861  0.020317 -1.184843 -0.273189
2013-01-06 -1.704603 -0.193390  0.731213 -0.232786

인덱스(Index), 행 (Column) 그리고 데이터에 대한 세부 정보를 보려면 .index, .columns, .values를 입력합니다.

In [14]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [12]:
df.values

array([[-0.52798622,  1.90147125, -1.12830182, -1.21633802],
       [ 0.72469156,  0.61186508,  0.07565709, -0.53541671],
       [ 0.42471602,  1.33563542,  0.47967792, -0.5964917 ],
       [-1.18608132, -1.06093594, -0.82423465, -1.40827078],
       [-0.61486088,  0.0203175 , -1.18484299, -0.27318902],
       [-1.70460278, -0.19339006,  0.73121257, -0.23278589]])

데이터의 대략적인 통계적 정보를 보려면 describe()를 입력합니다.

In [11]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.480687  0.435827 -0.308472 -0.710415
std    0.926119  1.076812  0.843307  0.491093
min   -1.704603 -1.060936 -1.184843 -1.408271
25%   -1.043276 -0.139963 -1.052285 -1.061376
50%   -0.571424  0.316091 -0.374289 -0.565954
75%    0.186540  1.154693  0.378673 -0.338746
max    0.724692  1.901471  0.731213 -0.232786